_gen
typeorm
env
build
clients
coverage
.DS_Store

codex
playerApi
api
shared
clever
classlink
src/adapter/repositories/*.ts
src/adapter/entry-points/express/app.ts
src/adapter/entry-points/express/handlerUtilities.ts
src/adapter/entry-points/lambda/index.ts
src/adapter/entry-points/lambda/lms-roster-sync.ts
src/adapter/entry-points/local/index.ts
src/adapter/_testShared
clever-roster-sync
authentication

jest.config.cjs
setupJest.js
jest.d.ts
scripts/generate-api.ts
scripts/hash-password.ts
scripts/insert-dummy-user.ts
scripts/make-master-data-tsv-from-magic_circle-json/make-master-data-tsv-from-magic_circle-json.ts

# maintenance
src/adapter/entry-points/express/handlers/maintenance/AdministratorDistrict/MaintenanceCreateAdministratorDistrictsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/AdministratorDistrict/MaintenanceDeleteAdministratorDistrictsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/AdministratorDistrict/MaintenanceGetAdministratorDistrictsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/District/MaintenanceCreateOrUpdateDistrictsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/District/MaintenanceGetDistrictsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/HealthCheck/MaintenanceHealthCheckExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/Organization/MaintenanceCreateOrUpdateOrganizationsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/Organization/MaintenanceGetOrganizationsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/StudentGroup/MaintenanceCreateOrUpdateStudentGroupsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/StudentGroup/MaintenanceGetStudentGroupsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/StudentGroupStudent/MaintenanceCreateStudentGroupStudentsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/StudentGroupStudent/MaintenanceDeleteStudentGroupStudentsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/StudentGroupStudent/MaintenanceGetStudentGroupStudentsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/TeacherOrganization/MaintenanceCreateTeacherOrganizationsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/TeacherOrganization/MaintenanceDeleteTeacherOrganizationsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/TeacherOrganization/MaintenanceGetTeacherOrganizationsExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/User/MaintenanceCreateUsersExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/User/MaintenanceGetUsersExpressHandler.ts
src/adapter/entry-points/express/handlers/maintenance/User/MaintenanceUpdateUsersExpressHandler.ts
src/domain/usecases/maintenance/AccountNotification/MaintenanceCreateAccountNotificationUseCase.test.ts
src/domain/usecases/maintenance/AdministratorDistrict/MaintenanceGetAdministratorDistrictsUseCase.test.ts
src/domain/usecases/maintenance/District/MaintenanceCreateOrUpdateDistrictsUseCase.test.ts
src/domain/usecases/maintenance/District/MaintenanceCreateOrUpdateDistrictsUseCase.ts
src/domain/usecases/maintenance/District/MaintenanceGetDistrictsUseCase.test.ts
src/domain/usecases/maintenance/Organization/MaintenanceCreateOrUpdateOrganizationsUseCase.test.ts
src/domain/usecases/maintenance/Organization/MaintenanceCreateOrUpdateOrganizationsUseCase.ts
src/domain/usecases/maintenance/Organization/MaintenanceGetOrganizationsUseCase.test.ts
src/domain/usecases/maintenance/StudentGroup/MaintenanceCreateOrUpdateStudentGroupsUseCase.test.ts
src/domain/usecases/maintenance/StudentGroup/MaintenanceGetStudentGroupsUseCase.test.ts
src/domain/usecases/maintenance/StudentGroupStudent/MaintenanceGetStudentGroupStudentsUseCase.test.ts
src/domain/usecases/maintenance/TeacherOrganization/MaintenanceGetTeacherOrganizationsUseCase.test.ts
src/domain/usecases/maintenance/User/MaintenanceCreateUsersUseCase.test.ts
src/domain/usecases/maintenance/User/MaintenanceCreateUsersUseCase.ts
src/domain/usecases/maintenance/User/MaintenanceGetUsersUseCase.test.ts
src/domain/usecases/maintenance/User/MaintenanceUpdateUsersUseCase.test.ts
src/domain/usecases/maintenance/User/MaintenanceUpdateUsersUseCase.ts
test/api-e2e/scenarios/maintenance/MaintenaceDistrictStructuresScenario.test.ts
test/api-e2e/scenarios/maintenance/MaintenanceUserForEachRoleSceario.test.ts

src/domain/usecases/maintenance/FreeTrialAccounts/ConstructFreeTrialAccountsForSalesUsecase.test.ts
src/domain/usecases/maintenance/FreeTrialAccounts/ConstructFreeTrialAccountsForSalesUsecase.ts
